$_xs: 414px; //iPhoneXR
$_sm: 480px;
$_md: 768px;
$_lg: 992px;
$_xl: 1280px;
$_xxl: 1920px;

:root {
  // color: #302e3a;
  // color: rgba(48, 46, 58, 0.9);
  // color: rgba(48, 46, 58, 1);
  // color: rgba(48, 46, 58, 1);
  --main-text-color-dark: rgba(48, 46, 58, 1);
  --main-text-color-semidark: rgba(48, 46, 58, 0.7);
  --main-text-color-light-light: rgba(124, 124, 124, 0.7);
  --main-text-color-semidark-alt: rgba(150, 150, 150, 1);
  --main-text-color-light: rgba(237, 237, 237, 1);
  --breadcrumb-color: rgba(0, 0, 0, 0.7);

  // --button-color: rgba(6, 147, 227, 1);
  --button-color: rgb(3, 120, 184);

  // --button-color-hover: rgba(6, 91, 139, 1);
  --button-color-hover: rgba(9, 133, 205, 1);
  --button-color-active: rgba(0, 120, 184, 1);

  --warning-severe: rgba(255, 72, 0, 0.815);
  --warning: rgba(255, 165, 0, 1);

  --pretty-green: rgba(0, 197, 142, 1);
  --background-grey: rgba(0, 0, 0, 0.2);
  --background-light-grey: rgba(0, 0, 0, 0.05);
  --background-menu-highlighting: rgba(229, 231, 235, 1);

  --onescroll-menu-background-highlighting: hsla(250, 5%, 10%, 0.5);
}
